{% extends 'base.html.twig' %}

{% block title %}
    Game
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center min-vh-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="display-3 mb-3 fw-bold text-center">GAME OVER</div>
                <div class="fw-bold text-center">The next game will start at 07:00 GMT tomorrow. <br/> Try again tomorrow!</div>
                <hr/>

                <div class="text-center">The word today was <span class="fw-bolder text-primary">{{ dailyWord.word.content|title }}</span></div>

            </div>
        </div>
    </div>
{% endblock %}
